<div class="row">
  <div class="col-xs-12">
    <p style="color: blue">Add serve or blueprint</p>
    <label>Serve Name</label>
    <input type="text" 
    class="form-control" 
    #serverNameInput> 
    <!--We are assigning local reference to the input element-->
    <label>Serve Content</label>
    
    <input type="text" class="form-control" [(ngModel)] = 'newServerContent'>
    <br>
    <!--Now, we can pass the input element to the click evenet function. so we will have the whole input element 
    and we can use its .value in the .ts code to store or display the value.-->
    <button class="btn btn-primary" (click) = 'onAddServer(serverNameInput)'>Add Server</button>
    <button class="btn btn-primary" (click) = 'onAddBlueprint(serverNameInput)'>Add Server Blueprint</button>
  </div>
</div>

